[Desktop Entry]
Categories=Torah;Education
Comment[en_US]=
Comment=
Exec=/usr/bin/orayta
GenericName[en_US]=
GenericName=
Icon=/usr/share/Orayta/Orayta.png
MimeType=
Name[en_US]=Orayta
Name=Orayta
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
