Source: orayta
Section: misc
Priority: extra
Maintainer: Moshe Wagner <moshe.wagner@gmail.com>
Build-Depends: libqtwebkit-dev | libqt4-dev (<= 4:4.6.9), debhelper (>= 7), libqt4-dev (>= 4.5), libpoppler-qt4-dev, libfribidi-dev, zlib1g-dev
Standards-Version: 3.8.3
Homepage: http://orayta.googlecode.com

Package: orayta
Architecture: any
Depends: ${misc:Depends}, libqt4-xmlpatterns, libqt4-gui (>= 4.5), libqtwebkit4 | libqt4-gui (<= 4:4.6.9), libpoppler-qt4-3, libfribidi0, zlib1g-dev
Description: Jewish books program
