Source: orayta
Section: misc
Priority: extra
Maintainer: Moshe Wagner <moshe.wagner@gmail.com>
Build-Depends: debhelper (>= 7), kdelibs5-dev, libqt4-dev (>= 4.5), 
Standards-Version: 3.8.3
Homepage: http://orayta.googlecode.com

Package: orayta
Architecture: any
Depends: ${misc:Depends}, kdelibs5, libqt4-xmlpatterns, libqt4-gui (>= 4.5)
Description: This project is an open-source, cross platform port to the "תורת אמת" project. 
 The "תורת אמת" project intends to allow free and simple access to Jewish sources, from the Bible, Mishna and Talmud, to books written in the last years.
 The original project can be found at: http://www.oraytafreeware.com/
 This port was written by Moshe Wagner (moshe.wagner@gmail.com), and is licensed under GPLv2. The books are the same ones used in the original project - And are licensed (mainly) under the CC license, and the GFDL. 
