Source: orayta
Section: misc
Priority: extra
Maintainer: Moshe Wagner <moshe.wagner@gmail.com>
Build-Depends: libqtwebkit-dev, debhelper (>= 7), libqt4-dev (>= 4.5), 
Standards-Version: 3.8.3
Homepage: http://orayta.googlecode.com

Package: orayta
Architecture: any
Depends: ${misc:Depends}, libqt4-xmlpatterns, libqt4-gui (>= 4.5)
Description: Jewish books program