Source: orayta-books
Section: misc
Priority: extra
Maintainer: Moshe Wagner <moshe.wagner@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://orayta.googlecode.com

Package: orayta-books
Architecture: any
Depends: ${misc:Depends}
Description: Books for the "Orayta" program